.cover__content {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover__content:hover+.cover__overlay {
    opacity: 0.8;
}